@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');

//Fonts
$font-cursive:'Kalam', cursive;
$font-open:'Open Sans', sans-serif;

//Color
$color-white:rgb(240, 240, 240);
$color-primary:#173540;
$color-secondary:#ff9500;

